#navbar {
    position: fixed;
    width: 100%;
}

#title {
    padding: 15px;
    margin: 0px;
    text-align: center;
    background-color: rgb(25, 25, 25);
    top: 0px;
}

#gpaCircle {
    margin-left: auto;
    margin-right: auto;
    height: 170px;
    width: 170px;
    border: 10px solid rgb(25, 25, 25);
    border-radius: 50%;
    background-color: #04AA6D;
    align-items: center;
}

#gpaDisplay {
    font-size: 60px;
    margin-top: 50px;
}

.vertical-space {
    height: 125px;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.75fr 1fr ;
}

#grid-child1 {
    width: 200px;
    border-right: 2px solid rgb(25, 25, 25);
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
}

#grid-child2 {
    padding-left: 75px;
    padding-right: 50px;
    margin-right: auto;
}

html, body {
    margin: 0px;
    height: 100%;
    text-align: center;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 15, 15);
}

button {
    font-family: Helvetica;
    font-size: 16px;
    height: 44px;
    width: 170px;
    margin: 8px 4px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transform: translateY(-2px);
    font-weight: bold;
}

button:active {
    transform: translateY(2px);
}

#add {
    background-color: #04AA6D;
    box-shadow: 0 4px 0 #1c3f0f;
}

#add:active {
    box-shadow: none;
}

#clear {
    background-color: #f73131;
    box-shadow: 0 4px 0 #a11e1e;
}

#clear:active {
    box-shadow: none;
}

#import {
    background-color: #f5f5f5;
    box-shadow: 0 4px 0 #858585;
}

#import:active {
    box-shadow: none;
    transform: translateY(2px);
}

#export {
    background-color: #f5f5f5;
    box-shadow: 0 4px 0 #858585;
}

#export:active {
    box-shadow: none;
    transform: translateY(2px);
}

#remove {
    opacity: 0%;
    margin: 5px;
    height: 30px;
    width: 36px;
    background-color: #f73131;
    box-shadow: 0 4px 0 #a11e1e;
}

#remove:active {
    box-shadow: none;
}

input {
    font-size: 16px;
    height: 36px;
    width: 160px;
    margin: 8px 2px;
    border: 3px solid rgb(230, 230, 230);
    outline: none;
}

input:focus {
    border: 3px solid #04AA6D;
    transition-duration: 200ms;
}

#subjectsTable {
    text-align: left;
    border: none;
    border-collapse: collapse;
    font-size: 20px;
}

#infoTable {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    border: none;
    border-collapse: collapse;
    background-color: rgb(25, 25, 25);
}

#infoTable td {
    min-width: 200px;
}

.subjects-tr:nth-child(even) {background-color: rgb(25, 25, 25);}

.subjects-tr:hover #remove {
    opacity: 100%;
}

.subjects-th {
    min-width: 110px;
    padding-right: 40px;
    height: 40px;
    border-bottom: 1pt solid rgb(255, 255, 255);
}

.subjects-td {
    min-width: 110px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#last {
    padding-right: 0px;
    min-width: 44px;
}

.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
    0 0 0 2px,
    inset -2px 0 0,
    inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    pointer-events: none;
    margin-left: 7px;
    margin-top: 3px;
}
   
.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}
   
.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px;
}
   
.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px;
} 