.container {
    min-width: 1000px;
    width: 60%;
    height: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background: linear-gradient(-30deg, #ee7752, #e73c7e, #761bdd, #235bd5);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#top-grid {
    grid-template-columns: 1fr 1fr;
    height: 225px;
}

#title-grid {
    padding-top: 50px;
    margin-left: 100px;
    grid-template-columns: 64px 250px;
    height: 64px;
    gap: 20px;
}

#grid-gpa-display {
    grid-template-columns: 1fr 175px;
    gap: 25px;
}

#graduation-hat {
    width: 64px;
    height: 64px;
}

#title {
    text-align: left;
    margin: 0px;
    padding-top: 15px;
}

#subtitle {
    font-size: 18px;
    padding-top: 10px;
    padding-left: 100px;
    text-align: left;
}

#gpaCircle {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, rgb(20, 20, 20), rgb(40, 40, 40));
    align-items: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

#gpaCircleTitle {
    font-size: 24px;
    margin-bottom: 5px;
}

#gpaDisplay {
    font-size: 60px;
    margin-top: 0px;
}

.vertical-space {
    height: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#grid-child1 {
    float: right;
    margin-top: 275px;
}

#grid-child2 {
    margin-left: 75px;
    background-image: linear-gradient(to bottom right, rgb(20, 20, 20), rgb(40, 40, 40));
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-right: auto;
    border-radius: 10px;
    height: fit-content;
}

#rightside-buttons {
    margin-top: 5px;
    margin-right: 75px;
}

html, body {
    margin: 0px;
    height: 100%;
    text-align: center;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 15, 15);
}

button {
    font-family: Helvetica;
    font-size: 16px;
    height: 44px;
    width: 100px;
    margin: 5px;
    border: 0px;
    padding: 0px;
    border-radius: 12px;
    cursor: pointer;
    transform: translateY(-2px);
    font-weight: bold;
}

button:active {
    transform: translateY(2px);
}

#add {
    margin: 0px;
    width: 412px;
    background-color: #04AA6D;
    box-shadow: 0 4px 0 #1c3f0f;
}

#add:active {
    box-shadow: none;
}

#clear {
    background-color: #f73131;
    box-shadow: 0 4px 0 #a11e1e;
}

#clear:active {
    box-shadow: none;
}

#import {
    background-color: #f5f5f5;
    box-shadow: 0 4px 0 #858585;
}

#import:active {
    box-shadow: none;
    transform: translateY(2px);
}

#export {
    background-color: #f5f5f5;
    box-shadow: 0 4px 0 #858585;
}

#export:active {
    box-shadow: none;
    transform: translateY(2px);
}

#remove {
    margin: 5px;
    height: 30px;
    width: 36px;
    background-color: #f73131;
    box-shadow: 0 4px 0 #a11e1e;
}

#remove:active {
    box-shadow: none;
}

input {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 18px;
    height: 40px;
    width: 160px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.credits {
    width: 100px;
}

select {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 18px;
    height: 40px;
    width: 100px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

select:focus {
    outline: none;
}

select option {
    background-color: rgb(25, 25, 25);
}

#subjectsTable {
    text-align: left;
    border-collapse: collapse;
    font-size: 20px;
}

.subjects-tr:nth-child(even) {background-color: rgb(25, 25, 25);}

.subjects-td {
    min-width: 110px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 200px;
    padding: 10px;
}

.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
    0 0 0 2px,
    inset -2px 0 0,
    inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    pointer-events: none;
    margin-left: 13px;
    margin-top: 3px;
}
   
.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}
   
.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px;
}
   
.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px;
} 